<div class="row" style="background-color: #1e1e1e; height: 700px;">
    <div class="col">
        <div class="row" style="background-color: #ccc; margin-top: 10px; padding: 10px;">
            <div class="col">
                <button type="button" class="btn btn-primary" style="padding: 10px 30px 10px 30px" routerLink="user" routerLinkActive="active">Group Director</button>
            </div>
            <div class="col-1">
                <button type="button" class="btn btn-primary" style="padding: 10px 30px 10px 30px" routerLink="facilitator" routerLinkActive="active">Facilitator</button>
            </div>
            <div class="col-9">

            </div>
        </div>
        <div class="row">
            <div class="col">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>