<div class="row">
    <div class="col" style="background-color:#00adef; padding: 5px; text-align: center; color: white;">
        <h6 class="display-4" style="font-size: 40px">{{question3.question_title}}</h6>
        <p>{{question3.question_description}}</p>
    </div>
</div>


<div class="Mycontainer row" style="height: 490px; background-color: #1e1e1e;">
    <div class="col">

    </div>
    <div class="col-8">
        <div class="col" style="margin: 15px; background-color: #4d4d4d; color: white; ">
            <p style="padding: 10px 20px;">{{question3.question_instruction}}</p>
        </div>
        <div class="col" style="margin: 15px; background-color: #ccc !important; color: rgb(27, 27, 27); ">
            <div class="row">
                <textarea class="cl-textarea" #test_text placeholder="Enter text here" maxlength="160" data-value=""></textarea>
            </div>
        </div>

        <div class="col" style="margin: 0px">
            <div class="row">
                <div class="col-10">

                </div>
                <div class="col-1" style="color: white" *ngFor="let btn of question3.button">
                    <button type='{{btn.type}}' *ngIf="btn.button_title ==='Reset'" class="btn btn-success" routerLink='{{btn.routing}}' routerLinkActive="active">{{btn.button_title}}</button>
                    <button type='{{btn.type}}' *ngIf="btn.button_title ==='Submit'" (click)='onsubmit(test_text.value)' class="btn btn-success" routerLink='{{btn.routing}}' routerLinkActive="active">{{btn.button_title}}</button>
                </div>
            </div>
        </div>

        <div class="row ">

        </div>
    </div>
    <div class="col ">

    </div>
</div>